@CHARSET "ISO-8859-1";
.header{
text-align:center;
color:black;
font-weight:bold;
font-size:16px;
margin:0 0 5px 0;
}

.header img {
  float: left;
  width: 200px;
  height: 200px;
  background: white;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}